@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Oswald');

body, header, h1, h2, h3, p, span, img, a, div { margin: 0; padding: 0; }

body {
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

.content {
    width: 1000px;
    margin: 0 auto;
}

header {
    border-top: 2px solid #000000;
}

header span img {
    width: 50px;
    height: 50px;
    float: left;
}

header h2 {
    font-family: 'Bungee Inline', cursive;
    margin-top: 25px;
}

header h2, header p {
    padding-left: 70px;
}

header a {
    text-decoration: underline;
}

.projeto {
    display: inline-block;
    margin: 70px 5px 0;
    width: 320px;
    background-color: #FFD33F;
}

.thumbnail img {
    width: 320px;
    height: 240px;
}

.projeto:hover {
    box-shadow: 0px 0px 5px #202033;
}
.projeto, .thumbnail img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.titulo {
    padding: 10px 30px;
    background-color: #FFD33F;
    color: #202033;
}

.titulo h3 {
    text-transform: uppercase;
}

.titulo a img {
    width: 42px;
    height: 42px;
    margin: 5px 20px 0 0;
}

.voltar {
    text-transform: uppercase;
    margin: 55px 0 0px 5px;
}

.voltar a {
    color: #202033;
    text-decoration: none;
}

.voltar img {
    width: 32px;
    height: 32px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    background-color: #202033;
    border-bottom: 3px solid #91CECE;
    font-size: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

footer p {    
    color: #91CECE;
}

footer img{
    width: 20px;
    height: 20px;
    margin: 20px 8px;
}

footer a {
    color: #91CECE;
}

/* #################################### */
/* ### small screens ################## */

@media only screen and (max-width:990px) {
    /* para tablets */
    .content {
        width: 90%;
        margin: 0 auto;
    }
    .projeto {
        width: 45%;
        margin: 15% 2% 0 2%;
    }
    .thumbnail img{
        width: 100%;
        height: 100%;
    } 
    .titulo {
        font-size: 100%;
        padding: 3% 8%;
    }
    .titulo h3 {
        padding-bottom: 5%;
    }
    .voltar {
        padding-left: 5%;
        padding-bottom: 10%;
    }
    footer {
        position: relative;
        bottom: 0;
    }
}

@media only screen and (max-width:500px) {
    /* para smartphones */
    header {
        font-size: 100%;
    }
    header img {
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 25%;
    }
    header p {
        margin: 0;
        padding: 0;
        padding-left: 20%;
    }
    .content {
        width: 100%;
        margin: 0 auto;
    }
    .projeto {
        width: 90%;
        margin: 0 5% 20%;
    }
    .thumbnail img{
        width: 100%;
        height: 100%;
    }
    
    .titulo {
        font-size: 100%;
        padding: 3% 8%;
    }
    .titulo h3 {
        padding-bottom: 5%;
    }
    .voltar {
        padding-left: 5%;
        padding-bottom: 10%;
    }
    footer {
        position: relative;
        bottom: 0;
    }
}