@import url('https://fonts.googleapis.com/css?family=Concert+One');

body{
    background-color: #000;
    font-family: 'Concert One', cursive;
    color:#fff;
}

#painel {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

#painel p {
    margin: 0;
    font-size: 50px;
    text-transform: uppercase;
}

#painel img {
    padding: 5px 20px;
}

span {
    font-size: 70px;
    padding-left: 20px;
}

img {
    width: 50px;
    height: 50px;
}

#placar {
    width: 120px;
    text-align: center;
    padding: 150px 0 0 400px;
    float: left;
}

#placar #x {
    padding-bottom: 20px;
    border-bottom: 2px solid #333;
}

#tabuleiro{
    width: 510.5px;
    height: 485.5px;
    margin: 0 auto;
    background-color: #eee;
}

#tabuleiro span img {
    margin-top: 25px;
    margin-right: 30px;

    width: 100px;
    height: 100px; /* diminuir para 30px o padding-left do span a,b,c toda vez que tiver um conteudo (X, ou O)*/
}

/* .l1 .a { padding-left: 30px; } */

.l1, .l2, .l3  {
    height: 167px;
    width: 167px;
    display: flex;
}

.a, .b, .c { background-color: #000; }

.a, .b, .c {
    padding-left: 160px; /* largura do quadrado */
    margin-right: 15px;  /* margem entre eles */
    margin-bottom: 15px;
}